


   
    <div class="photo">
      <%= image_tag((current_user.profile.image || "http://placehold.it/200x200"), width: "275px", height:"275px", class:"profile_img") %>
    </div>

    <div class="name">
        <h1 id="user_name"><%= current_user.profile.first_name || "First Name" %> <%= current_user.profile.last_name || "Last Name" %></h1>
    </div>


   

    



<div class="modal fade" id="edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <%= render 'profiles/edit' %>
      </div>
      <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>