
<h1>Quote about college admissions boards looking for candidates whose stories they can touch and feel</h1>





<br>
<br>
<br>


<ul class="example-orbit" data-orbit>
  <li>
    <img src="http://placehold.it/800x350" alt="slide 1" />
    <div class="orbit-caption">
      Joe is a football star who serves at Habitat for Humanity.
    </div>
  </li>
  <li>
    <img src="http://placehold.it/800x350" alt="slide 2" />
    <div class="orbit-caption">
      Maria is a dancer who tutors to pay for college.
    </div>
  </li>
  <li>
    <img src="http://placehold.it/800x350" alt="slide 3" />
    <div class="orbit-caption">
      Edwin is a strong language student who leads the Spanish Club
    </div>
  </li>
</ul>














<div class="row">
  <div class="small-12 large-12 columns">


<div class="container">
<h1>Don't sweat the details senior year. 
    <br>Keep track as you go.</h1>


</div>


<br>
<br>






<form id="add_activity">
    <input id="activity_title" type="text" name="activity[title]" placeholder="What are you involved in?"><br>
</form>



<div class="row">

    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>
    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>
    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>

</div>

<br>

<div class="row">

    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>
    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>
    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>

</div>

<br>

<div class="row">

    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>
    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>
    <div class="small-4 large-4 columns">
        <img src="http://placehold.it/200x200">
    </div>

</div>



<div id="existing_activities">
    <% Activity.all.each do |act| %>
        <input id="checkbox<%=act.id%>" type="checkbox"><label for="checkbox<%=act.id%>"><%= act.title %></label>
    <% end %>
</div>






<br>
<br>





























  </div>
</div>









<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>