* {
    border-radius(0) !important;
}

.btn {
    border-radius: 0;
}


.navbar {
    border-radius: 0;
}


.jumbotron {
    border-radius: 0;
}

input {
    width: 100%;
}

form {
    text-align: center;
}



#content_form {
    background-color: grey;
}

body {
/*
    background-color: rgba(92,213,235,.2);*/
}

input {
        font-size: 200%;
        color: black;
        height: 60px;
        width: 100%;
        display: inline-block;
        text-align: left;
        background-color: rgba(245,245,245,.1);
        border: 0;  
}

#signup_form {
    background-color: rgba(245,245,245,.1);
}

#front_page {
    max-width: 90%;
}

.log_in_field {
    width: 25%;
    font-size: 12px;
    max-height: 40px;
}
.log_in {
    width: 25%;
}



.profile_text {
    display: inline-block;
    font-size: 100%;
    word-wrap: break-word;
    

}

#profile_pic {
    padding-bottom: 300px;
    margin-right: 21px;
   /* max-width: 30%;*/


}

#profile {
    max-height: 300px;
    /*margin-bottom: 30px;*/
}


h1 {
    font-weight: auto;
}

.profile_data {
    font-weight: lighter;
}

.item { width: 25%; }
.item.w2 { width: 50%; }


#act_title {
    color: black;
    font-weight: lighter;
}

#act_title:hover {
    text-decoration: none;
}


#activity_title {
    border: 1px solid black;

}


#foot_button {
    position: absolute;
   
    clear: both;
}    

.container {
    position: relative;
}


.profile_img {
    border-radius: 150px;
}

/*@media (max-width: 640px) {

    .profile_img {
        width: 100%;
        overflow: hidden;

    }*/


/*}

*/




.profile_content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
/*    margin-bottom: 0px;*/
    position: fixed;
    padding-top: 10px;
    background-color: white;
    z-index: 1;
}

.profile_content > div {
/*    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;*/
}

.name {
    flex: 4;

}

.photo {
    flex: 6;
}

#list_of_activities {
    margin-top: 50px;
}

